@model CBTeam_Model_View_Controller.Models.UserModel;

@{
}

<h1>Tomi, ponele fecha de entrega los miércoles que los findes hacer curso duele.</h1>
<h1></h1>
<h1>@Model.Name</h1>
<h1>@Model.Surname</h1>
